flows.json
[
    {
        "id": "6541862673e2e324",
        "type": "tab",
        "label": "Machine Monitor Test Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a53db9234ae61902",
        "type": "tab",
        "label": "MQTT Broker Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ffa072fe48cab23",
        "type": "tab",
        "label": "Shop Monitor Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdb8a41c23412c9d",
        "type": "tab",
        "label": "SimplePush Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ead5f0b5e14aad5",
        "type": "tab",
        "label": "Operator Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecb3df7cff3a3aa6",
        "type": "mqtt-broker",
        "name": "L1 Status",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af4df3a125511bed",
        "type": "mqtt-broker",
        "name": "L1",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfe62d6340ab4cfd",
        "type": "ui_tab",
        "name": "Machine Simulator",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0fe3af2c08523164",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "401da0afafe0172c",
        "type": "ui_group",
        "name": "L1 Semaphore",
        "tab": "cfe62d6340ab4cfd",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3610e9ea918215b1",
        "type": "mqtt-broker",
        "name": "Shop",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "805aacdc.3fe4d",
        "type": "ui_group",
        "name": "Text Panel",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "2fb40440.387a4c",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "5"
    },
    {
        "id": "c23aad146e3d1163",
        "type": "ui_group",
        "name": "Swiss Machines",
        "tab": "cfe62d6340ab4cfd",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3383b76a8c0de895",
        "type": "ui_tab",
        "name": "SimplePush",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "604118d9997b95a6",
        "type": "ui_group",
        "name": "L1 Monitor",
        "tab": "3383b76a8c0de895",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd17ac3cedb03c4d",
        "type": "ui_group",
        "name": "css Example",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb28dcf88cc50447",
        "type": "ui_group",
        "name": "Office",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82f935d4f4d6aebd",
        "type": "inject",
        "z": "6541862673e2e324",
        "name": "Monitor Injection",
        "props": [
            {
                "p": "payload.timestamp",
                "v": "iso",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Status",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "10110026bae0f49e"
            ]
        ]
    },
    {
        "id": "10110026bae0f49e",
        "type": "function",
        "z": "6541862673e2e324",
        "name": "Signal Status Calculator",
        "func": "var machine = \"L1\";\nvar prior_status = context.get('status') || \"Stopped\";\nvar status;\n\nvar red_state = flow.get('red_state') || false;\nvar yellow_state = flow.get('yellow_state') || false;\nvar green_state = flow.get('green_state') || false;\n\n//console.log(`r: ${red_state}, y: ${yellow_state}, g: ${green_state}`);\n\nif (green_state && !red_state && ! yellow_state) {\n    status = \"Running\";\n} else if (green_state && red_state) {\n    status = \"Op Stop\";\n} else if (yellow_state && red_state) {\n    status = \"Bar Loader\";\n} else if (!green_state && red_state && ! yellow_state) {\n    status = \"Error\";\n} else {\n    status = \"Stopped\";\n}\n\n//console.log(`prior_status: ${prior_status}, new_status: ${status}`);\n\nmsg.payload = {\n    \"timestamp\": msg.payload.timestamp,\n    \"status\": status,\n    \"changed\": (status != prior_status)\n};\nmsg.topic = `${machine}Status`;\ncontext.set(\"status\", status);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set('status', \"Stopped\");",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "bd9d31181ca2d446"
            ]
        ]
    },
    {
        "id": "c093b522d2602de5",
        "type": "debug",
        "z": "6541862673e2e324",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 80,
        "wires": []
    },
    {
        "id": "bd9d31181ca2d446",
        "type": "switch",
        "z": "6541862673e2e324",
        "name": "",
        "property": "payload.changed",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 160,
        "wires": [
            [
                "7bca8b61ec8705bb"
            ]
        ]
    },
    {
        "id": "ab656cdd4ca4b8d3",
        "type": "ui_switch",
        "z": "6541862673e2e324",
        "name": "",
        "label": "Red",
        "tooltip": "",
        "group": "401da0afafe0172c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "b3f5aae98a6791e2"
            ]
        ]
    },
    {
        "id": "b3f5aae98a6791e2",
        "type": "function",
        "z": "6541862673e2e324",
        "name": "set_red_state",
        "func": "var old_state = flow.get('red_state') || false;\n\nvar new_state = msg.payload;\nif (new_state != old_state) {\n    flow.set('red_state', new_state);\n}\n\nmsg.payload = {\n    \"timestamp\": msg.payload.timestamp,\n    \"old_state\": old_state,\n    \"new_state\": new_state\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('red_state', false);",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b7de461a531e98",
        "type": "function",
        "z": "6541862673e2e324",
        "name": "set_yellow_state",
        "func": "var old_state = flow.get('yellow_state') || false;\n\nvar new_state = msg.payload;\nif (new_state != old_state) {\n    flow.set('yellow_state', new_state);\n}\n\nmsg.payload = {\n    \"timestamp\": msg.payload.timestamp,\n    \"old_state\": old_state,\n    \"new_state\": new_state\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('yellow_state', false);",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4d296e422dd494e2",
        "type": "ui_switch",
        "z": "6541862673e2e324",
        "name": "",
        "label": "Yellow",
        "tooltip": "",
        "group": "401da0afafe0172c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "b7b7de461a531e98"
            ]
        ]
    },
    {
        "id": "1de89547e45f609b",
        "type": "function",
        "z": "6541862673e2e324",
        "name": "set_green_state",
        "func": "var old_state = flow.get('green_state') || false;\n\nvar new_state = msg.payload;\nif (new_state != old_state) {\n    flow.set('green_state', new_state);\n}\n\nmsg.payload = {\n    \"timestamp\": msg.payload.timestamp,\n    \"old_state\": old_state,\n    \"new_state\": new_state\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('green_state', false);",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "59e262eb4c7aeb24",
        "type": "ui_switch",
        "z": "6541862673e2e324",
        "name": "",
        "label": "Green",
        "tooltip": "",
        "group": "401da0afafe0172c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "switch",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 70,
        "y": 340,
        "wires": [
            [
                "1de89547e45f609b"
            ]
        ]
    },
    {
        "id": "7bca8b61ec8705bb",
        "type": "change",
        "z": "6541862673e2e324",
        "name": "Remove changed flag",
        "rules": [
            {
                "t": "delete",
                "p": "payload.changed",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 160,
        "wires": [
            [
                "c093b522d2602de5",
                "2f55709e52b9be20"
            ]
        ]
    },
    {
        "id": "2f55709e52b9be20",
        "type": "mqtt out",
        "z": "6541862673e2e324",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3610e9ea918215b1",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "be56d85433fdc4ad",
        "type": "aedes broker",
        "z": "a53db9234ae61902",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d91c8b50c1ed918e",
        "type": "mqtt in",
        "z": "3ffa072fe48cab23",
        "name": "",
        "topic": "L1Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3610e9ea918215b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "0342385c0db8288f",
                "84999b8402c2b958",
                "b8eb8f9d9cbdbd57"
            ]
        ]
    },
    {
        "id": "d9bf7a20221de86e",
        "type": "debug",
        "z": "3ffa072fe48cab23",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "f18b3aea.ee5e08",
        "type": "ui_template",
        "z": "3ffa072fe48cab23",
        "group": "c23aad146e3d1163",
        "name": "L1 Status",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    #tex1 {\n        font-weight:bolder;\n        fill: black;\n    }\n    \n    #tex2 {\n        font-weight:bolder;\n        font-size:20px;\n        fill: black;\n    }\n    \n    #tex3 {\n        font-weight:bolder;\n        font-size:10px;\n        fill: black;\n    }   \n</style>\n\n\n<svg x=\"0\" y=\"0\" height=\"80\" viewBox=\"0 0 200 80\" width=\"200\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<rect width=\"200\" height=\"80\" x=\"0\" y=\"0\" rx=\"20\" ry=\"20\" style=\"fill:{{msg.payload.fill}};stroke-width:1;stroke:black\"/>\n<text id=\"tex1\" x=\"10\" y=\"20\" > {{msg.payload.topic}} </text>\n<text id=\"tex2\" x=\"10\" y=\"45\" > {{msg.payload.status}} </text>\n<text id=\"tex3\" x=\"10\" y=\"60\" > {{msg.payload.timestamp | date:\"medium\"}} </text>\n\n</svg>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f077fb4d2ac44f19",
        "type": "function",
        "z": "3ffa072fe48cab23",
        "name": "Set Fill Color",
        "func": "if (msg.payload.status == \"Stopped\"){\n    msg.payload.fill = \"#FFFFFF\";\n}\nelse if (msg.payload.status == \"Op Stop\") {\n    msg.payload.fill = \"#FFFF64\";\n}\nelse if (msg.payload.status == \"Running\") {\n    msg.payload.fill = \"#64FF64\";\n} \nelse if (msg.payload.status == \"Bar Loader\") {\n    msg.payload.fill = \"#6464FF\";\n}else if (msg.payload.status == \"Error\") {\n    msg.payload.fill = \"#FF6464\";\n}\nelse {\n    msg.payload.fill = \"#FFFFFF\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "f18b3aea.ee5e08",
                "d9bf7a20221de86e"
            ]
        ]
    },
    {
        "id": "0342385c0db8288f",
        "type": "link out",
        "z": "3ffa072fe48cab23",
        "name": "L1 Status",
        "mode": "link",
        "links": [
            "96ee94f66ce20d18"
        ],
        "x": 375,
        "y": 260,
        "wires": []
    },
    {
        "id": "84999b8402c2b958",
        "type": "debug",
        "z": "3ffa072fe48cab23",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "ac8ec76bced873bf",
        "type": "inject",
        "z": "3ffa072fe48cab23",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"status\":\"Initialized\"}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b8eb8f9d9cbdbd57"
            ]
        ]
    },
    {
        "id": "b8eb8f9d9cbdbd57",
        "type": "change",
        "z": "3ffa072fe48cab23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.topic",
                "pt": "msg",
                "to": "L1 Status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "f077fb4d2ac44f19"
            ]
        ]
    },
    {
        "id": "13e6a35cb574419d",
        "type": "ui_text_input",
        "z": "bdb8a41c23412c9d",
        "name": "",
        "label": "Add Key",
        "tooltip": "",
        "group": "604118d9997b95a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "7745c301cd814626"
            ]
        ]
    },
    {
        "id": "dd60d1c953544af7",
        "type": "function",
        "z": "bdb8a41c23412c9d",
        "name": "Recall Keys",
        "func": "var simple_push_keys = flow.get('simple_push_keys') || [];\n\nmsg.payload = simple_push_keys.join(\";\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar simple_push_keys = flow.get('simple_push_keys') || [];\nvar msg = {};\nmsg.payload = simple_push_keys.join(\";\")\n\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "23fb605ced031925"
            ]
        ]
    },
    {
        "id": "7745c301cd814626",
        "type": "function",
        "z": "bdb8a41c23412c9d",
        "name": "Add Keys",
        "func": "var simple_push_keys = flow.get('simple_push_keys') || [];\n\nvar current_keys = msg.payload.split(\";\");\n\nsimple_push_keys = [... new Set([...simple_push_keys,...current_keys])];\nsimple_push_keys = simple_push_keys.filter(function(e){return e}); \nflow.set(\"simple_push_keys\", simple_push_keys);\nmsg.payload = simple_push_keys;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "fb3e3de0e30c16f4"
            ]
        ]
    },
    {
        "id": "23fb605ced031925",
        "type": "ui_text",
        "z": "bdb8a41c23412c9d",
        "group": "604118d9997b95a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Keys:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb3e3de0e30c16f4",
        "type": "function",
        "z": "bdb8a41c23412c9d",
        "name": "format keys",
        "func": "msg.payload = msg.payload.join(\";\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "23fb605ced031925"
            ]
        ]
    },
    {
        "id": "c2fad315e6404cf7",
        "type": "inject",
        "z": "bdb8a41c23412c9d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "dd60d1c953544af7"
            ]
        ]
    },
    {
        "id": "a87a77235b83d5c3",
        "type": "ui_text_input",
        "z": "bdb8a41c23412c9d",
        "name": "",
        "label": "Remove Key",
        "tooltip": "",
        "group": "604118d9997b95a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "3603babf09d731d0"
            ]
        ]
    },
    {
        "id": "3603babf09d731d0",
        "type": "function",
        "z": "bdb8a41c23412c9d",
        "name": "Remove Keys",
        "func": "var simple_push_keys = flow.get('simple_push_keys') || [];\n\nvar remove_keys = msg.payload.split(\";\");\nsimple_push_keys = simple_push_keys.filter(item => !remove_keys.includes(item))\nsimple_push_keys = simple_push_keys.filter(function(e){return e}); \nflow.set(\"simple_push_keys\", simple_push_keys);\nmsg.payload = simple_push_keys;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "fb3e3de0e30c16f4"
            ]
        ]
    },
    {
        "id": "96ee94f66ce20d18",
        "type": "link in",
        "z": "bdb8a41c23412c9d",
        "name": "L1 Status",
        "links": [
            "0342385c0db8288f"
        ],
        "x": 265,
        "y": 300,
        "wires": [
            [
                "a66141eee3209c04"
            ]
        ]
    },
    {
        "id": "54500c7b191eae0c",
        "type": "debug",
        "z": "bdb8a41c23412c9d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e33c1a3b8582525",
        "type": "simplepush",
        "z": "bdb8a41c23412c9d",
        "key": "",
        "title": "",
        "message": "",
        "attachments": "",
        "event": "",
        "actions": "",
        "actionTimeout": 180,
        "password": "",
        "salt": "",
        "name": "",
        "outputs": 1,
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a66141eee3209c04",
        "type": "function",
        "z": "bdb8a41c23412c9d",
        "name": "Format notifications",
        "func": "var simple_push_keys = flow.get('simple_push_keys') || [];\n\nvar output_msg = [];\n\nfor (const push_key of simple_push_keys) {\n    \n    var key_msg = {\n        key: push_key,\n        title: \"L1 Status\",\n        payload: `Status: ${msg.payload.status} at ${msg.payload.timestamp}`\n    };\n    output_msg.push(key_msg);\n}\n\nreturn [output_msg];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "54500c7b191eae0c"
            ]
        ]
    },
    {
        "id": "dd8b29da5a82fee6",
        "type": "ui_dropdown",
        "z": "1ead5f0b5e14aad5",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Status",
        "group": "c23aad146e3d1163",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Checked Out",
                "value": "Out",
                "type": "str"
            },
            {
                "label": "Checked In",
                "value": "In",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "bee0272810b72820",
                "d2d34c2b524c3171",
                "9ccdbbeb925913db"
            ]
        ]
    },
    {
        "id": "06434e5a854411cb",
        "type": "ui_popup-dropdown",
        "z": "1ead5f0b5e14aad5",
        "order": 3,
        "name": "Dropdown",
        "group": "c23aad146e3d1163",
        "width": 1,
        "height": 1,
        "class": "popup-dialog",
        "position": "center",
        "posX": "position.x",
        "posXType": "msg",
        "posY": "position.y",
        "posYType": "msg",
        "options": [
            {
                "label": "No Operator",
                "icon": "",
                "topic": "Operator",
                "topicType": "str",
                "payload": "-1",
                "payloadType": "num"
            },
            {
                "label": "151-Martin",
                "icon": "",
                "topic": "Operator",
                "topicType": "str",
                "payload": "151",
                "payloadType": "num"
            },
            {
                "label": "9-Kevin",
                "icon": "",
                "topic": "Operator",
                "topicType": "str",
                "payload": "9",
                "payloadType": "num"
            }
        ],
        "sendValueTo": "payload",
        "sendValueToType": "msg",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "d2d34c2b524c3171",
                "b3458df3d78ba1b0"
            ]
        ]
    },
    {
        "id": "bee0272810b72820",
        "type": "switch",
        "z": "1ead5f0b5e14aad5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "In",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "06434e5a854411cb"
            ]
        ]
    },
    {
        "id": "224217a2a7316036",
        "type": "ui_text",
        "z": "1ead5f0b5e14aad5",
        "group": "c23aad146e3d1163",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Operator Number",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2d34c2b524c3171",
        "type": "debug",
        "z": "1ead5f0b5e14aad5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ccdbbeb925913db",
        "type": "switch",
        "z": "1ead5f0b5e14aad5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Out",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "f536f055b023707f"
            ]
        ]
    },
    {
        "id": "f536f055b023707f",
        "type": "change",
        "z": "1ead5f0b5e14aad5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "b3458df3d78ba1b0"
            ]
        ]
    },
    {
        "id": "b3458df3d78ba1b0",
        "type": "function",
        "z": "1ead5f0b5e14aad5",
        "name": "Set Operator",
        "func": "let operatorNumber = msg.payload;\n\nflow.set(\"operatorNumber\",operatorNumber);\nconst operators = new Map();\noperators.set(0, \"No Operator\");\noperators.set(151, \"Martin\");\noperators.set(9, \"Kevin\");\n\nlet operator = \"Unknown\";\nif (operators.has(operatorNumber)){\n    operator = operators.get(operatorNumber);\n}\n\nflow.set(\"operatorName\", operator);\nmsg.payload = `${operatorNumber} - ${operator}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "224217a2a7316036",
                "d2d34c2b524c3171"
            ]
        ]
    },
    {
        "id": "43d244d23afbf637",
        "type": "ui_template",
        "z": "1ead5f0b5e14aad5",
        "group": "c23aad146e3d1163",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n.popup-dialog {\n    min-width: 350px;\n    height: 150px;\n}\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 560,
        "y": 40,
        "wires": [
            []
        ]
    }
]